<h3>{{ listName() }}</h3>
    <ul class="list-group mt-4">
      @for (character of characters(); track character.id; let idx = $index) {
        @if ( character.power > 500 ) {
          <li class="list-group-item">
            <span>{{ idx + 1 }} - {{ character.name }}</span>
            <strong
              [class.text-danger]="character.power > 9000"
              [class.text-primary]="character.power < 9000"
            >
            <!-- [ngClass]="powerClasses()" -->
              ({{ character.power }})
            </strong>
          </li>
        } @else {
          <li class="list-group-item"><strong>Aqui no hay nadie</strong></li>
        }
      }
    </ul>
